* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

#desktop {
  background-color: rgb(49, 59, 70);
  height: 100vh;
  padding: 20px;
  position: relative;
}

.icon {
  color: white;
  font-size: 18px;
  padding: 12px 20px;
  width: fit-content;
  background-color: rgba(128, 156, 185, 0.616);
  cursor: pointer;
  user-select: none;
}

.window {
  height: 250px;
  width: 350px;
  border: 2px solid #FFA500;
  background: rgb(66, 66, 66);
  color: rgb(194, 194, 194);
  box-shadow: 0 8px 16px rgba(0,0,0,0.3);
  position: absolute;
  top: 150px;
  left: 150px;
  display: none;
}

.titleBar {
  background-color: rgb(49, 49, 49);
  color: grey;
  display: flex;
  justify-content: space-between;
  padding: 6px 10px;
  align-items: center;
  cursor: move;
  user-select: none;
  font-weight: bold;
}

.closeBtn {
  background: none;
  border: none;
  color: grey;
  font-size: 18px;
  cursor: pointer;
  transition: color 0.3s;
}

.closeBtn:hover {
  color: tomato;
}
.content {
  padding: 16px;
  font-size: 16px;
  line-height: 1.5;
}