* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

#desktop {
  background-color: rgb(49, 59, 70);
  height: 100vh;
  padding: 20px;
  position: relative;
}

.icon {
  color: white;
  font-size: 18px;
  padding: 12px;
  width: fit-content;
  background-color: rgba(128, 156, 185, 0.616);
  cursor: pointer;
  user-select: none;
}

.window {
  height: 200px;
  width: 300px;
  border: 4px solid white;
  position: absolute;
  top: 150px;
  left: 150px;
}

.titleBar {
  background-color: grey;
  display: flex;
  justify-content: space-between;
  padding: 4px;
  align-items: center;
  cursor: move;
  user-select: none;
}

.closeBtn {
  padding: 4px 7px;
}

.content {
  padding: 4px;
}